@media (min-width: 576px) 
    // sm
@media (min-width: 768px)
    // md
    .header
        &-contact
            &-mobile
                transform: translateY(9px)
            &-btn
                font-size: 15px
    .btn
        border-radius: 10px
    .form
        &-help
            &_text
                width: 50%
@media (min-width: 992px)
    // lg
    .hero
        &-image
            margin: 0
    .request
        background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url(../img/kitchen-bg.jpg) no-repeat
        background-position:  right center
        background-size: 50%
    .offer
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/kitchen-bg.jpg) no-repeat right
        background-size: 50%
    .section-title_modal
        margin-bottom: 50px
@media (min-width: 1200px)
    // xl