@media (min-width: 576px) 
    // sm
@media (min-width: 768px)
    // md
    .header
        &-contact
            &-mobile
                transform: translateY(9px)
            &-btn
                font-size: 15px
    .btn
        border-radius: 10px
    .form
        &-help
            &_text
                width: 50%
    .section
        &-title
            padding-top: 100px
        &-subtitle
            display: block
            margin-top: 60px
            padding-bottom: 20px
@media (min-width: 992px)
    // lg
    .hero
        &-image
            margin: 0
    .request
        background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url(../img/kitchen-bg.jpg) no-repeat
        background-position:  right center
        background-size: 50%
    .offer
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/kitchen-bg.jpg) no-repeat right
        background-size: 50%
    .section-title
        &_modal
            margin-bottom: 50px
    .portfolio
        &-section
            background-image: url(../img/slider-images/dot-pattern.jpg)
            background-repeat: repeat-y
            background-size: 50%
        &-carousel_block
            padding-bottom: 50px
    .sales-section
        padding-bottom: 60px
@media (min-width: 1200px)
    // xl