@import colors
@import fonts


body
    font-family: 'MuseoSans', sans-serif
    color: $black
a
    color: $black
header 
    padding: 20px 0
.header
    &-logo
        height: 75px
        object-fit: none
        padding: 0
    &-contact
        &-mobile
            text-align: right
            color: $black
            margin-right: 30px   
            span
                display: block
                font-size: 13px
            a
                font-size: 20px
        &-btn
            padding: 0
            background-color: $orange
            font-weight: 700
            font-size: 12px  
            padding: 15px 26px
            border-radius: 5px
.hero
    background-color: $back-gray
    padding-top: 50px
    padding-bottom: 54px
    &-content
        &__title
            margin-bottom: 30px
            font-weight: 700
        &__subtitle
            &_bold
                font-weight: bold
                display: block
                margin-bottom: 50px
    &-list
        &__image
            border: 2px solid $orange
            border-radius: 50%
            &_small
                padding: 8px
                margin-right: 30px
        &__item
            padding: 15px 0
            &_text
                line-height: 20px
                margin: 0
                font-size: 14px
                max-width: 300px
    &-image
        margin-top: 40px












@import media
