@import _colors.sass
@import _fonts.sass


body
    font-family: 'MuseoSans', sans-serif
a
    color: $black
header 
    padding: 20px 0
.header
    &-logo
        height: 75px
        object-fit: none
        padding: 0
    &-contact
        &-mobile
            text-align: right
            color: $black
            margin-right: 30px   
            span
                display: block
                font-size: 13px
            a
                font-size: 20px
        &-btn
            padding: 0
            background-color: $orange
            font-weight: 700
            font-size: 12px  
            padding: 15px 26px
            border-radius: 5px

@import _media.sass